@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
body {
    margin-top: 60px;
    text-align: center;
    background: black;
    color: rgb(169, 97, 236);
    font-family: 'Share Tech Mono', monospace;
  }
  
  #timer {
    font-size: 180px;
  }

  
  button {
    padding: 10px 30px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    font-size: 24px;
    margin: 0 5px;
    outline: none;
    cursor: pointer;
  }
  
  button:hover{
    border: 1px solid black;
    color: white;
    background: rgb(169, 97, 236);
  }

  button:active {
    border: 1px solid black;
    color: white;
    background: red;
  }